<div class="container d-flex justify-content-center">
  <input
    type="text"
    class="form-control-lg w-50"
    id="autocomplete-input"
    placeholder="Search course..."
  />
</div>

<script>
  const courses = <%- courses %>;
  const course_to_coursename = <%- course_to_coursename %>;
  // console.log(courses);

  $("#autocomplete-input")
    .typeahead({
      source: courses,
      autoSelect: true,
      displayText: function (item) {
        return `${item.name} - ${course_to_coursename[item.name]}`;
      },
      afterSelect: function (item) {
        window.location.href =
          "/" + item.value.subject + "/" + item.value.courseId;
      },
    })
    .keypress(function (e) {
      if (e.which == 13) {
        const inputVal = $(this).val();
        const uniqueMatch = courses.filter(function (choice) {
          return choice.name.toLowerCase() === inputVal.toLowerCase();
        });
        if (uniqueMatch.length === 1) {
          window.location.href =
            "/" +
            uniqueMatch[0].value.subject +
            "/" +
            uniqueMatch[0].value.courseId;
        }
      }
    });
</script>
