<div class="container">
  <h1 class="h5">Search evaluations by course</h1>
  <input
    type="text"
    class="form-control-lg w-50"
    id="autocomplete-input"
    placeholder="Search course..."
  />
</div>

<script>
  const courses = <%- courses %>;
  const course_to_coursename = <%- course_to_coursename %>;
  // console.log(courses);

  $("#autocomplete-input")
    .typeahead({
      source: courses,
      autoSelect: true,
      displayText: function (item) {
        return `${item.name} - ${course_to_coursename[item.name]}`;
      },
      afterSelect: function (item) {
        window.location.href =
          "/" + item.value.subject + "/" + item.value.courseId;
      },
    })
    .keypress(function (e) {
      if (e.which === 13) {
        const inputVal = $(this).val();
        const uniqueMatch = courses.filter(function (choice) {
          return choice.name.toLowerCase() === inputVal.toLowerCase();
        });
        if (uniqueMatch.length === 1) {
          const url = `/${uniqueMatch[0].value.subject}/${uniqueMatch[0].value.courseId}`;
          window.location.href = url;
        }
      }
    });

    $('.typeahead.dropdown-menu a').on('mousedown', function(event) {
      console.log("typeahead dropdown mousedown");

      // Checking for middle click (mouse wheel click)
      if(event.which === 2) {
        const url = `/${uniqueMatch[0].value.subject}/${uniqueMatch[0].value.courseId}`;

        // Open link in a new tab
        window.open(url, '_blank');
        event.preventDefault(); // Prevent the default action
      }
    });
</script>
