<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar'); %>

    <section class="jumbotron text-center">
      <div class="container mt-5 mb-4">
        <!-- <h1 class="jumbotron-heading my-4">Re-evaluate course evaluations</h1> -->
        <h1 class="h3">Woohoo! Pre-reg for Autumn 2023 is here! 🥳🎉</h1>
        <h1 class="h5">Course evaluations summarized using GPT-4</h1>
      </div>
      <%- include('../partials/search_courses', { current_courses:
      current_courses, courses: courses, current_course_to_coursename:
      current_course_to_coursename, all_course_to_coursename:
      all_course_to_coursename }); %>
    </section>

    <%- include('../partials/first_time_modal'); %>
  </body>
</html>
