<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar'); %> <%-
    include('../partials/search_courses', { courses: courses }); %>
  </body>
</html>
